<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/fragments/layout">
<head>
<title>Build Up Survey</title>

</head>
<body>
	<div layout:fragment="content">
		<div class="container content">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">설문지 만들기</h3>
				</div>
				<div class="panel-body">
					<form th:object="${survey}" th:action="@{|/survey/add|}" method="post">
						<div class="margin-bottom-10">
							<input type="text" th:field="*{surveyName}" name="surveyName" class="form-control" placeholder="설문지 이름을 입력하세요." />
						</div>
						<div class="margin-bottom-10">
							<input type="text" th:field="*{surveyType}" name="surveyType" class="form-control" placeholder="설문지 타입을 입력하세요." />
						</div>
						<div class="margin-bottom-10">
							<input type="text" th:field="*{howToSurveySubject}" name="howToSurveySubject" class="form-control" placeholder="설문지 하는 방법제목" />
						</div>
						<div class="margin-bottom-10">
							<textarea th:field="*{howToSurveyContent}" id="summernoteSurvey" name="howToSurveyContent" class="form-control" placeholder="설문을 하는 방법에 대해서 입력해주세요."></textarea>
						</div>
						<div class="margin-bottom-10">
							<input type="text" th:field="*{howToSurveyEtc}" name="howToSurveyEtc" class="form-control" placeholder="설문지를 하기 위한 기타사항을 입력해주세요." />
						</div>
						<div class="margin-bottom-10">
							<input type="text" th:field="*{masterOfSurvey}" name="masterOfSurvey" class="form-control" placeholder="설문지의 출처를 적어주세요." />
						</div>
						
						<h4 class="panel-title">설문지 문제 만들기</h4>
						<div th:each="i : ${#numbers.sequence( 1, 100)}">
							<div class="col-sm-12 margin-bottom-10">
								<div class="col-sm-2">
									<div th:text=${i}></div>
								</div>
							</div>
						</div>
						
						<div style="clear: both; display: block; height: 10px;"></div>
						<input type="submit" class="btn btn-danger pull-right" value="Save">
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>