<!DOCTYPE html>
<html>
	<head>
		<meta name="keywords" th:content="iSyncBrain">
		<meta id="csrfToken" th:content="${_csrf.token}" />
		<meta id="csrfHeader" th:content="${_csrf.headerName}"/>
		<!--  Each token will be replaced by their respective titles in the resulting page. -->
		<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Hi-Cord</title>
		<link th:replace="/fragments/style"/>
	</head>
	<!-- Start Header -->
	<header th:replace="/fragments/header">
	
	</header>
	<!-- End Header -->
	
	<!-- Body Start -->
	<body>
    	<div class="container content margin-bottom-30" layout:fragment="content">
    		
   		</div>
	</body>
	<!-- Body End -->
	
	<!-- Footer Start -->
	<footer th:replace="/fragments/footer">
	
	</footer>
	<!-- Footer End -->
	
	<link th:replace="/fragments/js"></link>
</html>