<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<!-- Default CSS -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>

<!-- Vendor CSS -->
<link rel="stylesheet" th:href="@{/vendor/jsgrid/jsgrid.min.css}"/>
<link rel="stylesheet" th:href="@{/vendor/jsgrid/jsgrid-theme.min.css}"/>
<link rel="stylesheet" th:href="@{/vendor/fullcalendar/fullcalendar.min.css}"/>
<link rel="stylesheet" th:href="@{/vendor/fullcalendar/fullcalendar.print.min.css}"/>
<link rel="stylesheet" th:href="@{/vendor/summernote/summernote.css}" />
<link rel="stylesheet" th:href="@{/vendor/sweetAlert/sweetalert.css}" />

<!-- Default Combination Resources(Must be Header) -->
<script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

<!-- Customizing Css -->
<link rel="stylesheet" th:href="@{/css/app.css}"/>

<!-- Angular JS -->
<script type="text/javascript" th:src="@{/webjars/angular/1.6.1/angular.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/angular-animate/1.6.1/angular-animate.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/angular-sanitize/1.6.1/angular-sanitize.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/angular-route/1.6.1/angular-route.min.js}"></script>

<!-- Vendor JS, Must be placed Top with Jquery-->
<script type="text/javascript" th:src="@{/vendor/summernote/summernote.min.js}"></script>





