<!DOCTYPE html>
<html>
	<head>
	<!--  Each token will be replaced by their respective titles in the resulting page. -->
		<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">New iSyncBrain</title>
		<link th:replace="/layout/style"/>
		
		  
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
		<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
		<script>
		$(function(){
// 			console.log("Aetawet");
			
		});
		</script>
	
	</head>
	<header th:replace="/layout/header"></header>
	<body>
    	<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div layout:fragment="content"></div>
				</div>
			</div>
   		</div>
	</body>
	<footer th:replace="/layout/footer"></footer>
	<link th:replace="/layout/js"></link>
</html>