<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/fragments/layout">
	<head>
		<title th:text="#{TEXT-SIGNUP}"></title>
		<link rel="stylesheet" href="/css/page/user/user.css"/>
	</head>
	<div layout:fragment="content">
		<div class="container">
			<form th:object="${user}" th:action="@{/user/signup}" id="saveUserFrm" method="POST">
				<div class="row">
					<div class="col-sm-12 margin-bottom-10">
						<h1 th:text="#{TEXT-SIGNUP}"></h1>
					</div>
				</div>
				<div th:replace="/views/user/user-agree"></div>
				<div class="row">
			    	<div class="col-sm-12 margin-bottom-10">
			    		<div>
			    			<b class="margin-right-20" th:text="#{TEXT-EMAIL}"></b>
							<input class="for-center-input form-control" type="email" id="userEmail" th:field="*{userEmail}" name="userEmail" placeholder="Email."/>
							<button class="btn btn-info" id="emailDupl" type="button" th:text="#{TEXT-DUPL}" disabled="disabled"></button>
						</div>
						<div class="error" th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}"></div>
						<div class="error" id="emailMsg"></div>
			    	</div>
			    	
			    	<div class="col-sm-12 margin-bottom-10">
			    		<div>
			    			<b class="margin-right-20" th:text="#{TEXT-PHONE}"></b>
							<input class="for-center-input form-control" id="userPhone" name="userPhone" type="text" th:field="*{userPhone}" placeholder="Phone"/>
							<button class="btn btn-info" id="phoneDupl" type="button" th:text="#{TEXT-DUPL}" disabled="disabled"></button>
						</div>
						<div class="error" th:if="${#fields.hasErrors('userPhone')}" th:errors="*{userPhone}"></div>
						<div class="error" id="phoneMsg"></div>
			    	</div>
			    	
			    	<div class="col-sm-12 margin-bottom-10">
				    	<div>
				    		<b th:text="#{TEXT-NAME}" class="margin-right-20"></b>
							<input class="for-center-input form-control" name="userName" type="text" th:field="*{userName}" placeholder="Name."/>
				    	</div>
				    	<div class="error" id="nameMsg"></div>
				    </div>
				    
				    <div class="col-sm-12 margin-bottom-10">
				    	<div>
				    		<b th:text="#{TEXT-PASSWORD}" class="margin-right-20"></b>
							<input class="for-center-input form-control" name="userPassword" type="password" th:field="*{userPassword}" placeholder="Password."/>
							<p class="erros-red" th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}"></p>
				    	</div>
						<div class="error" th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}"></div>
						<div class="error" id="passwordMsg"></div>
				    </div>
				    
				    <div class="col-sm-12 margin-bottom-10">
				    	<div>
							<b class="margin-right-20" th:text="#{TEXT-NATIONCODE}"></b>
							<input class="for-center-input form-control" type="text" name="userNationCode" th:field="*{userNationCode}" placeholder="NationCode" />
						</div>
						<div class="error" th:if="${#fields.hasErrors('userNationCode')}" th:errors="*{userNationCode}"></div>
						<div class="error" id="nationCodeMsg"></div>
			    	</div>
				    
				    <!-- Address && ZipCod -->
			    	<div class="col-sm-12 margin-bottom-10">
			    		<div class="margin-bottom-10">
			    			<b class="margin-right-20" th:text="#{TEXT-ZIPCODE}"></b>
							<input class="for-center-input form-control" type="text" id="userZipCode" name="userZipCode" th:field="*{userZipCode}" placeholder="ZipCode" />
							<button class="btn btn-info" id="checkZipCode" type="button" onclick="daumZipCode();" th:text="#{TEXT-ZIPCODE}"></button>
						</div>
						<div class="error" th:if="${#fields.hasErrors('userZipCode')}" th:errors="*{userZipCode}"></div>
						<div class="error" id="zipCodeMsg"></div>
						
						<div class="col-sm-12 margin-bottom-10">	
							<div class="margin-bottom-10">
								<b class="margin-right-20" th:text="#{TEXT-ADDRESS}"></b>
								<input class="for-center-input form-control" id="userAddress" name="userAddress" type="text" th:field="*{userAddress}" placeholder="New Address"/>
								<input class="for-center-input form-control" id="userAddress2" name="userAddress2" type="text" th:field="*{userAddress2}" placeholder="Detail Address"/>
							</div>
							<div class="error" th:if="${#fields.hasErrors('userAddress')}" th:errors="*{userAddress}"></div>
							<div class="error" id="addressMsg"></div>
						</div>
			    	</div>
				    
				    <!-- Get message or Not -->
					<div class="col-sm-12 margin-top-20 margin-bottom-20">
						<p>
							<b><span th:text="#{TEXT-AGREE}"></span></b>
						</p>
						<div>
							<span th:text="#{TEXT-IMPORTANT}"></span>
						</div>
			    		<div>
	    					<span class="glyphicon glyphicon-ok-circle margin-right-5"></span>
	    					<span th:text="#{TEXT-EMAIL}"></span>
	    					<span th:if="${user.userReceiveEmail==1}">
	    						<input type="checkbox" name="userReceiveEmail" value="1" checked="checked">
	    					</span>
	    					<span th:if="${user.userReceiveEmail!=1}">
	    						<input type="checkbox" name="userReceiveEmail" value="1">
	    					</span>
	    					
	    					
	    					<span class="glyphicon glyphicon-ok-circle margin-right-5 margin-left-10"></span>
	    					<span th:text="#{TEXT-PHONE}"></span>
	    					<span th:if="${user.userReceivePhone==1}">
	    						<input type="checkbox" name="userReceivePhone" value="1" checked="checked">
	    					</span>
	    					<span th:if="${user.userReceivePhone!=1}">
	    						<input type="checkbox" name="userReceivePhone" value="1">
	   						</span>
		    			</div>
					</div>
					
					<div class="col-sm-12 margin-bottom-20">
						<div class="erros-red" th:if="${errorMsg!=null}" th:text="${errorMsg}"></div>
					</div>
					
				    <div class="col-sm-12 margin-bottom-10">
			    		<input type="button" class="btn btn-success" name="saveUser" value="Save">
			    	</div>
			    </div>
			</form>
		</div>
		<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
		<script type="text/javascript" src="/js/page/user/user-signup.js"></script>
	</div>
</html>
