<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/fragments/layout">
<head>
	<title>Spring Boot CRUD Example</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container content">
			<!-- 게시판 값 입력 -->
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">게시판 글 쓰기</h3>
				</div>
				<div class="panel-body">
					<form th:object="${board}" th:action="@{|/talk/${tableName}/add|}" method="post">
						<input type="text" th:field="*{subject}" name="subject" class="form-control" placeholder="제목을 입력하세요." />
						
						<div style="clear: both; display: block; height: 10px;"></div>
						<input type="text" th:field="*{createdBy}" name="createdBy" class="form-control" placeholder="이름을 입력하세요." />
						
						<div style="clear: both; display: block; height: 10px;"></div>
						<textarea th:field="*{content}" id="summernote" name="content" class="form-control" placeholder="내용을 입력하세요."></textarea>
						
						<div style="clear: both; display: block; height: 10px;"></div>
						<input type="submit" class="btn btn-danger pull-right" value="Save">
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$('#summernoteReply').summernote({
		lang : 'ko-KR', // default: 'en-US'		
		height : 100, // set editor height
		minHeight : 50, // set minimum height of editor
		placeholder : 'Write reply content here...',
		focus : true, // set focus to editable area after initializing summernote
		dialogsFade : true
	});

	$('#summernote').summernote({
		lang : 'ko-KR', // default: 'en-US'		
		height : 600, // set editor height
		minHeight : 400, // set minimum height of editor
		maxHeight : 1200, // set maximum height of editor
		placeholder : 'Write board content here...',
		focus : true, // set focus to editable area after initializing summernote
		dialogsFade : true
	});
/* 	$(function() {
		// 최상단 체크박스 클릭
		$("#allCheck").click(function() {
			if ($("#allCheck").prop("checked")) {
				// input태그의 name이 chk인 태그들을 찾아서 checked옵션을 true로 정의
				$("input[name=check]").prop("checked", true);
			} else {
				// input태그의 name이 chk인 태그들을 찾아서 checked옵션을 false로 정의
				$("input[name=check]").prop("checked", false);
			}
		})
	}); */
</script>

</html>