<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/fragments/layout">
<body>
	<div layout:fragment="content">
		<!-- 게시판 목록 Data -->
		<div class="container content">
			<div class="panel panel-success">
				<div class="panel-heading">
					<div class="margin-bottom-10">
						<h3 class="panel-title">게시판</h3>
						<input id="boardType" hidden="hidden" th:value="${boardType}">
					</div>
					<div class="margin-bottom-10 text-right">
						<a th:href="@{|/board/${boardType}/add|}"><button class="btn btn-success">글쓰기</button></a>
					</div>
				</div>
					
				<div class="row">
					<div class="col-sm-12" id="boardJsGrid">
						
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/js/page/board/board-list.js}"></script>
	</div>
</body>
</html>