<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/fragments/layout">
	<head>
		<title>Board Edit</title>
	</head>
	<div layout:fragment="content">
	   <div class="container">
           <div th:if="${editBoard eq 'unsuccess'}">
              <div class="alert alert-danger alert-dismissible" role="alert">
				  <strong>Error!</strong> Board Data Not Updated.
				</div>
           </div>
           <div th:if="${editBoard eq 'success'}">
              <div class="alert alert-success alert-dismissible" role="alert">
				  <strong>Success!</strong> Board Data Updated Successfully.
				</div>
           </div>
          <div class="panel panel-success">
			  <div class="panel-heading">
			    <h3 class="panel-title">글 수정</h3>
			  </div>
			     <div class="panel-body">
					<form th:object="${editBoard}" th:action="@{|/board/${tableName}/edit/${path}|}" method="post">
					 <input type="hidden" th:field="*{id}"/>
			         <input type="text" th:field="*{subject}" class="form-control" placeholder="제목을 입력하세요."/>
			         <div style="clear:both; display:block;height:10px;"></div>
			         <input type="text" th:field="*{createdBy}" class="form-control" placeholder="이름을 입력하세요."/>
			         <div style="clear:both; display:block;height:10px;"></div>
			         <textarea rows="10" cols="50" th:field="*{content}" id="summernote" class="form-control" placeholder="내용을 입력하세요."></textarea>
			         <div style="clear:both; display:block;height:10px;"></div>
			         <input type="submit" name="save" class="btn btn-danger pull-right" value="Save">
			       </form>
			     </div>
			    <div class="panel-footer">
					<a th:href="@{/savepage}" class="btn btn-success">Back To Save Page</a>
			    </div>  
			</div>

		</div>
	</div>
</html>