<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/fragments/layout">
	<head>
	  <title>Price</title>
	  <link rel="stylesheet" href="/css/page/stadium/stadium-main.css"/>
	</head>
	<div layout:fragment="slide">
	    <div class="row grid-border min-height-400">
	    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<img class="mySlides max-height-400" src="/img/page/home/1.jpg">
	  			<button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
	  			<button class="w3-button w3-display-right" onclick="plusDivs(1)">&#10095;</button>
	  		</div>
	    </div>	
    </div>
	<div layout:fragment="content">
		<div class="container margin-bottom-30">
			<div class="row">
			    <div class="grid-border col-sm-4 min-height-400">
					스타디움 순위(지역 별)
			    </div>
			    <div class="grid-border col-sm-4 min-height-400">
					구단 순위(지역 별)
			    </div>	
			    <div class="grid-border col-sm-4 min-height-400">
					개인 순위(지역 별)						    	
			    </div>	
		    </div>
		</div>
		    
	    <div class="row grid-border min-height-400">
	    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				고객들의 SNS공유사진으로 마케팅 효과 강화.
			</div>
	    </div>
	    
	    <script type="text/javascript" src="/js/page/stadium/stadium-main.js"></script>
	</div>
</html>