<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/fragments/layout">
<head>
<title>MyInfo</title>
<link rel="stylesheet" href="/css/page/user/user-myinfo.css" />
</head>
<div layout:fragment="content">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div>
					<h1 th:text="#{TEXT.MYINFO}"></h1>
				</div>
				<div th:object="${user}">
					<div class="col-sm-12">
						<label th:text="#{TEXT.EMAIL}"></label>
						<span th:text="*{userId}"></span>
					</div>					
					<div class="col-sm-12">
						<label th:text="#{TEXT.NAME}"></label>
						<span th:text="*{userName}"></span>
					</div>
					<div class="col-sm-12">
						<label th:text="#{TEXT.PHONE}"></label>
						<span th:text="*{userPhone}"></span>
					</div>
					<div class="col-sm-12">
						<label th:text="#{TEXT.STATE}"></label>
						<span th:text="*{userState}"></span>
					</div>
					<div class="col-sm-12">
						<label th:text="#{TEXT.PAID.POINT}"></label>
						<span th:text="*{userPaidPoint}"></span>
					</div>
					<div class="col-sm-12">
						<label th:text="#{TEXT.ACTIVE.POINT}"></label>
						<span th:text="*{userActivePoint}"></span>
					</div>
					<div class="col-sm-12">
						<label th:text="#{TEXT.RECEIVE.EMAIL}"></label>
						<span th:text="*{userReceiveEmail}"></span>
					</div>
					<div class="col-sm-12">
						<label th:text="#{TEXT.RECEIVE.PHONE}"></label>
						<span th:text="*{userReceivePhone}"></span>
					</div>
					<div class="col-sm-12">
						<label th:text="#{TEXT.PROFILE}"></label>
						<span th:each="userProfile : *{userProfiles}">
	                		<span th:text="${userProfile.userProfileType}"></span>
	            		</span>
					</div>
						<!-- 
							<div th:each="price : *{paidHistoryList}">
		                		<p th:text="${price.id}"></p>
		            		</div>
		            		 -->
						<!-- 
						    <div th:object="${paidHistory}">
						    	<div th:text="${id}"></div>
						    </div>
						     -->
				</div>
			</div>
		
			<div class="col-sm-6">
				<div>
					<h1 th:text="#{TEXT.MYCLUB}"></h1>
				</div>
				<div th:if="${greeting.list != null}">
					
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/js/page/price.js"></script>
</div>
</html>