<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/fragments/layout">
<head>
  <title>Music</title>
  <link rel="stylesheet" href="/css/page/user.css"/>
</head>
	<div layout:fragment="content">
		<div>
	    	<h1>Music List</h1>
	    </div>
	    <div class="col-sm-12">
 			<div class="call-action-v1-in inner-btn page-scroll">
 				<!-- @{|/talk/${tableName}/detail/{id}|(id=${i.id})} -->
 				<!-- @{/music} -->
 				<a th:href="@{/music/get}" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block margin-bottom-5">Get Music Rank</a>
				<a th:href="@{/music/set}" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block margin-bottom-5">Add Music</a>
			</div>
	    	<div class="margin-bottom-10">
	    		
			</div>
		</div>
	</div>
</html>