<!DOCTYPE html>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<!-- <label th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</label> -->
			<span sec:authorize="isAuthenticated()">
				<b>User : </b><span class="margin-right-10" id="loginUser" sec:authentication="name"></span>
				<b>Roles : </b><span class="margin-right-10" sec:authentication="principal.authorities"></span>
				<a th:href="@{/user/logout}" th:text="#{TEXT-LOGOUT}"></a>				
			</span>
		</div>
		
		<div class="col-sm-4 text-center">
			<span sec:authorize="isAuthenticated()">
				<a class="margin-right-20" th:href="@{/user/myinfo/}" th:text="#{TEXT-MYINFO}"></a>
				<a class="margin-right-20" th:href="@{/stadium/myclub}" th:text="#{TEXT-MYCLUB}"></a>
			</span>
		</div>
		
		<div class="col-sm-2 text-right">
			<span sec:authorize="isAuthenticated()">
				<i class="popover-icon" data-toggle="popover" id="openPopover">
					<span class="glyphicon glyphicon-envelope text-right" aria-hidden="true"></span>
				</i>
			</span>
			<span sec:authorize="isAnonymous()">
				<a class="margin-right-30" th:href="@{/user/login}" th:text="#{TEXT-LOGIN}">LOG IN</a>	
				<a th:href="@{/user/signup}" th:text="#{TEXT-SIGNUP}">SIGN UP</a>
			</span>
		</div>
	</div>
</div>
<nav class="navbar navbar-default">
	<div class="container">
  		<div class="row">
  			<div class="col-sm-12">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}">Hi-Cord</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a th:href="@{/board/notice}" th:text="#{TEXT-BOARD}">ㅇㄴ</a></li>
						<li><a th:href="@{/stadium/main}" th:text="#{TEXT-SD}">ㅇㅁ</a></li>
						<li><a th:href="@{/stadium/main}" th:text="#{TEXT-SC}">ㅇㄴ</a></li>
						<li><a th:href="@{/price}" th:text="#{TEXT-PRICE}">ㅇㅁ</a></li>
						<li><a th:href="@{/message}">Message</a></li>
			      	</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Link</a></li>
						<!-- 
			        	<li class="dropdown">
			          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Dropdown <span class="caret"></span></a>
				          	<ul class="dropdown-menu">
			        			<li><a th:href="@{/login}">LOG IN <span class="sr-only"></span></a></li>
		        				<li><a th:href="@{/signup}">SIGN UP <span class="sr-only"></span></a></li>
				          	</ul>
			        	</li>
			        	 -->
			      	</ul>
					<form class="navbar-form navbar-left">
						<div class="form-group">
			          		<input type="text" class="form-control" placeholder="Search">
			        	</div>
			        	<button type="submit" class="btn btn-default">Submit</button>
			      	</form>
				</div><!-- /.navbar-collapse -->
			</div>
		</div>
	</div><!-- /.container-fluid -->
</nav>
