<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<!-- Functional JS -->
<script type="text/javascript" th:src="@{/js/list/list.min.js}"></script>

<!-- Common Vendor Library -->
<script type="text/javascript" th:src="@{/vendor/sweetAlert/sweetalert.min.js}"></script>
<link rel="stylesheet" th:href="@{/vendor/sweetAlert/sweetalert.css}" />

<script type="text/javascript" th:src="@{/vendor/summernote/summernote.min.js}"></script>
<link rel="stylesheet" th:href="@{/vendor/summernote/summernote.css}" />
