<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/layout">
<head>
  <title>Spring Boot CRUD Example</title>
</head>
<body>
	<div layout:fragment="content">
	   <div class="container">
		   <div class="row">
		      <div class="col-md-offset-3 col-md-6">
		      
		          <div class="panel panel-success">
					  <div class="panel-heading">
					    <h3 class="panel-title">글 조회</h3>
					  </div>
					     <div class="panel-body">
					     
					      <div th:if="${editBoard eq 'success'}">
								  <strong>Success!</strong> Board Data Updated Successfully.
				           </div>
							 
							 번호:<div th:text=${item.id}></div>
							 제목:<div th:text=${item.subject}></div>
							 내용:<div th:text=${item.content}></div>
							 작성자:<div th:text=${item.createdBy}></div>
							 조회수:<div th:text=${item.hits}></div>
							 작성일:<div th:text=${item.creationDate}></div>
					     </div>
					       
					    <div class="panel-footer">
							<a th:href="@{|/board/${tableName}/edit/{id}|(id=${item.id})}" class="btn btn-success">수정</a>
							<a th:href="@{|/board/${tableName}/delete/{id}|(id=${item.id})}" class="btn btn-default">삭제</a>
					    </div>  
					</div>


		      </div>
		   </div>
		</div>
	
	</div>
</body>
</html>

