<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/layout">
<head>
  <title>Login</title>
</head>
	<div layout:fragment="content">
		<div>
	    	<h1>Login</h1>
	    </div>
	    <div class="col-sm-12">
		    <form th:object="${user}" th:action="@{/login}" method="POST">
		    	<div class="col-sm-12">
	   		    	<label>Email
						<input type="email" name="email" class="form-control" placeholder="email"/>
			    	</label>
		    	</div>
			    <div class="col-sm-12">
			    	<label>Password
						<input type="password" name="password"  class="form-control" placeholder="password."/>
					</label>
				</div>
			    <div class="col-sm-12">
			    	<input type="checkbox" name="remember-me"  class="form-control"/>
		    		<input type="submit" class="btn btn-success pull-left" value="Save">
		    	</div>
	    	</form>
	    </div>
	</div>
</html>